<div class="container mt-5">
  <h2 class="text-center mb-4">Iniciar Proceso de Pago</h2>
  <form (ngSubmit)="iniciarPago(pagoForm.value)" #pagoForm="ngForm" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="pedidoId">Pedido ID:</label>
      <input type="number" id="pedidoId" name="pedidoId" [ngModel]="pedidoId" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="monto">Monto:</label>
      <input type="number" id="monto" name="monto" [ngModel]="montoTotal" class="form-control" readonly>
    </div>
    <div class="form-group">
      <label for="metodoPagoId">Método de Pago:</label>
      <select id="metodoPagoId" name="metodoPagoId" ngModel class="form-control" required>
        <option value="1">Tarjeta</option>
        <option value="100">DINERO EN EFECTIVO</option>
        <option value="2">YAPE</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4">Iniciar Pago</button>
  </form>
</div>