<div class="container">
  <h2>Product List</h2>
  <button class="btn btn-primary mb-3" (click)="openCreateModal()">Crear Producto</button>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.descripcion }}</td>
        <td>{{ product.precio }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.categoria.nombre }}</td>
        <td>
          <button class="btn btn-primary" (click)="openEditModal(product)">Editar</button>
          <button class="btn btn-warning" (click)="openStockModal(product)">Actualizar Stock</button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">Eliminar</button>
          <button class="btn btn-secondary" (click)="markProductAsOutOfStock(product.id)">Marcar como Agotado</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>