<div class="container">
  <h2>Lista de Categorías</h2>
  <button class="btn btn-primary mb-3" (click)="openCreateModal()">Crear Categoría</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.nombre }}</td>
        <td>{{ category.descripcion }}</td>
        <td>
          <button class="btn btn-primary" (click)="openEditModal(category)">Editar</button>
          <button class="btn btn-danger" (click)="deleteCategory(category.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>