<div class="container mt-5">
  <h2 class="text-center mb-4">Historial de Envíos</h2>
  <div *ngIf="envios.length === 0" class="text-center">
    <p>No hay envíos disponibles.</p>
  </div>
  <div *ngIf="envios.length > 0" class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Usuario ID</th>
          <th>Dirección Destino</th>
          <th>Transportista</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envio of envios">
          <td>{{ envio.id }}</td>
          <td>{{ envio.usuarioId }}</td>
          <td>{{ envio.direccionDestino }}</td>
          <td>{{ envio.transportista }}</td>
          <td>{{ envio.estado }}</td>
          <td>
            <button mat-raised-button color="primary" (click)="consultarEstadoEnvio(envio.id)">Consultar Estado</button>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>