<div class="verify-password-reset-container">
  <h1>Verificar Código y Restablecer Contraseña</h1>
  <form (ngSubmit)="verifyAndResetPassword()">
    <div class="input-box">
      <input type="text" placeholder="Ingrese el código de verificación" required [(ngModel)]="code" name="code" />
    </div>
    <div class="input-box">
      <input type="password" placeholder="Ingrese la nueva contraseña" required [(ngModel)]="newPassword" name="newPassword" />
    </div>
    <div class="input-box button">
      <button type="submit">Restablecer Contraseña</button>
    </div>
  </form>
</div>
