<div class="modal-container">
  <h1 mat-dialog-title>Agregar al Carrito</h1>
  <div mat-dialog-content>
    <p class="product-name">Producto: {{ data.product.nombre }}</p>
    <mat-form-field appearance="fill" class="quantity-field">
      <mat-label>Cantidad</mat-label>
      <input matInput [(ngModel)]="cantidad" type="number" min="1">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onAddClick()">Agregar</button>
  </div>
</div>